# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSharp-StringBuilder.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\CSharp-StringBuilder\.idea\.idea.CSharp-StringBuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
